body{
    background-color: #eeeeee;
    font-family: 'Raleway' sans-serif;
}

.wrapper{
    max-width: 1250px;
    /* background-color: red;
    height: 500px; */
    margin: 0 auto;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    border-radius: 8px;
}

header .wrapper{
    padding: 30px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.logo a{
    display: block;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    color: #73c2fb;
}

.logo a span{
    color: gray;
    font-family: 'Fredoka', sans-serif;
}

header form{
    margin-left: 100px;
    display: inline-flex;
    align-items: center;
}

header form input {
    padding: 12px 12px 12px 50px;
    border-radius: 50px;
    border: none;
    background-color: #f8f8f8;
    outline: none;
    width: 500px;
    height: 20px;
    margin-left: -80px;
    
}

header form input::placeholder {
    color: #dadada;
    font-size: 1.em;
    font-family: 'Raleway', sans-serif;
    
}

header form ion-icon{
    position: absolute;
    padding-left: 20px;
    color: #dadada;
    font-size: 1.1em;
    font-family: 'Raleway' sans-serif;
    margin-left: -80px;
}

header .btn1{
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    padding: 14px 30px;
    border-radius: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    background-color: #73c2fb;
}

header .btn2{
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    padding: 14px 30px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: rgb(69, 69, 69);
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    background-color: #f6f7f9;
    color: #73c2fb;
}

header ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
}

header ul li a {
    font-size: 1.6em;
    display: block;
    position: relative;
    color: black;
}

header ul li a span {
    font-size: .6em;
    display: flex;
    position: absolute;
    color: white;
    background-color: #73c2fb;
    width: 16px;
    height: 16px;
    z-index: 99;
    padding: 1px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    left: 16px;
    bottom: 20px;
}


/* #########################################This is where the slider begins 
#########################################*/



.slider{
    position: relative;
    height: 400px;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.slider .main-slider {
    position: relative;
    width: 64%;
    height: inherit;
    background-color: #73c2fb;
    border-radius: 10px;
    padding: 60px 60px;
    box-sizing: border-box;
    color: white;
    display: flex;
    overflow: hidden;
}

.main-slider-content h3{
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Raleway', sans-serif;
}

.main-slider-content h1{
    font-size: 3em;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0px 40px 0px;
}

.btn {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 28px;
}

.btn span{
    margin-right: 14px;
}

.shoepic{
    position: absolute;
    left: 350px;
    bottom: -50px;
}

.shoepic img{
    width: 480px;
}