body{
    background-color: #eeeeee;
    font-family: 'Raleway' sans-serif;
}

.wrapper{
    max-width: 1250px;
    /* background-color: red;
    height: 500px; */
    margin: 0 auto;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    border-radius: 8px
}

header .wrapper{
    padding: 30px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    display: block;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway' sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    color: rgb(12, 0, 176);
}

.logo a span{
    color: gray;
}

